<div >
    <form class="well">
        <label>First Name</label>
        <input type="text" name="firstname" ng-model="newperson.firstname" />
        <br/>
        <label>Last Name</label>
        <input type="text" name="lastname" ng-model="newperson.lastname" />
        <br/>
        <input type="hidden" ng-model="newperson.personid" />
        <input type="button" value="Save" ng-click="savePerson()" class="btn btn-primary" />
    </form>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="person in persons">
                <td>{{ person.firstname }}</td>
                <td>{{ person.lastname }}</td>
                <td> 
                    <a href="javascript:void(0)" ng-click="edit(person.personid)">edit</a> | 
                    <a href="javascript:void(0)" ng-click="delete(person.personid)">delete</a>

                </td>
            </tr>
        </tbody>
    </table>
</div>